:root {
  font: 40px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 5;
  max-height: 900px;
  border: coral 2rem double;
  background-color: mediumslateblue;
}

.set-of-buttons {
  display: flex;
  margin: 5% 20%;
}

li {
  flex-direction: row;
  list-style: none;
  font-weight: bolder;
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: whitesmoke;
  padding: 15px 32px;
  margin: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
}
